
<span class="dropdown-label">
  {{selectedJurisdiction.name}}
</span>

<ul class="dropdown-list jurisdiction-dropdown">
  {{#each j in jurisdictions}}
      <li class="dropdown-item" {{action 'setJurisdiction' j}}>
          {{#link-to 'jurisdiction.view' j class="dropdown-option"}}{{j.name}}{{/link-to}}
      </li>
  {{/each}}
</ul>
