

<span class="dropdown-label">
  {{selectedStudentAge.ageRange}}
</span>

<ul class="dropdown-list student-age-dropdown">
  {{#each ageRange in studentAgeRanges}}
    <li class="dropdown-item" {{action 'selectStudentAge' ageRange}}>
      <div class="dropdown-option">
        {{ ageRange.ageRange }}
      </div>
    </li>
  {{/each}}
</ul>