
<div class="teacher-requirements">

  <div class="teacher-requirements-header">
    <h2>Step 1: Teacher Requirements</h2>
  </div>

  <div class="box box--flush dropdown">
    {{
      student-age-dropdown
      selectedStudentAge=selectedStudentAge
      action = 'setStudentAge'
    }}
  </div>

  <div class="teacher-requirements-output">
    {{ requiredTeachers }}
  </div>

</div>
