*,
*:after,
*:before {
    @include box-sizing(border-box);
}

html,
body {
    height: 100%;
}

input,
select {
    width: 100%;
    @include box-sizing(border-box);
}

img {
    max-width: 100%;
    vertical-align: middle;
}
