$fontPath: '/assets/fonts/';
@include font-face(Avenir, font-files("#{$fontPath}avenir.ttf"));
@include font-face(Kim1, font-files("#{$fontPath}kim1.ttf"));
@include font-face(Kim2, font-files("#{$fontPath}kim2.ttf"));
@include font-face(Sep, font-files("#{$fontPath}sep.ttf"));
@include font-face(Wildchild, font-files("#{$fontPath}wildchild.ttf"));

.times {
    font-family: "Times New Roman";
}

.georgia {
    font-family: "Georgia";
}

.helvetica {
    font-family: "Helvetica";
}

.avenir {
    font-family: 'Avenir';
    font-weight: 300 !important;
}

.kim1 {
    font-family: 'Kim1';
    letter-spacing: 1px;
}
.kim2 {
    font-family: 'Kim2';
}
.sep {
    font-family: 'Sep';
}
.wildchild {
    font-family: 'Wildchild';
}
