.grid {
    font-size: 0;
    text-align: center;

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}

.grid--three {
    .grid-item,
    .gap {
        display: inline-block;
        width: (100%/3.1);
    }
}

.grid--two {
    .grid-item {
        display: inline-block;
        width: (100%/2.1);
    }
}

.grid-item {
    font-size: 16px;
    font-size: rems(16);
    text-align: center;
    border-right: 1px $offwhite solid;
    border-bottom: 1px $offwhite solid;

    &:nth-child(3n) {
        border-right: none;
    }

    &:nth-last-child(-n+3) {
        border-bottom: none;
    }
}
