.licensing {
  padding: 20px 50px;
  width: 100%;
  max-width: 800px;
  .step-by-step {
    margin-bottom: 25px;
  }
  .get-started {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
  }
  .licensing-step {
    .licensing-step-body {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
    }
    .licensing-step-input-container {
      margin-bottom: 10px;
    }
    .licensing-step-control {
      margin-top: 5px;
    }
    .licensing-step-output {
      
    }
  }
  .input-col {
    width: 50%;
    padding-right: 10px;
  }
  .output-col {
    width: 50%;
    padding-left: 10px;
  }

  .display-entry {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    .display-property {
      width: 200px;
    }
    .display-value {

    }
  }

}