.licensing {
  padding: 20px 50px;
  width: 100%;
  max-width: 1200px;
  min-width: 480px;
  .get-started {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
  }
  .error-message {
    color: red;
  }
  .scenario-selector {
    margin: 40px 0 40px 0;
    .scenarios-label {
      font-weight: bold;
    }
    .scenario-entry {
      margin: 10px 0;
    }
  }
  .licensing-step {
    .licensing-step-body {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
    }
    .licensing-step-input-container {
      label {
        font-weight: bold;
        font-size: 14px;
      }
      margin-bottom: 10px;
    }
    .licensing-step-control {
      margin-top: 5px;
    }
    .licensing-step-output {
      border: 1px solid #ccc;
      background-color: #fafafa;
      padding: 20px;
      border-radius: 4px;
      .input-display: {
        margin-bottom: 10px;
        border-bottom: 1px solid #aaa;  
      }
    }
  }
  .input-col {
    width: 40%;
    padding-right: 10px;
  }
  .output-col {
    width: 60%;
    padding-left: 10px;
  }

  .inputs-display-input, .display-entry {
    border: 1px solid #eee;
    margin: 5px 0;
    padding: 5px 10px;
  }

  .display-entry {
    margin: 10px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    .display-property {
      width: 40%px;
      min-width: 140px;
      max-width: 240px;
      font-size: 14px;
      font-weight: bold;
    }
    .display-value {

    }
  }

}