.logo {
    margin: auto;
    width: 100%;
    max-width: 500px;

    &.small {
        height: 70px;
    }


    &.left,
    &.right,
    &.top,
    &.bottom {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.right {
        > .logo-images {
            order: 1;
        }
    }

    &.top,
    &.bottom {
        flex-direction: column;
    }

    &.bottom > .logo-images {
        order: 1;
    }
}

.logo-images {
    display: flex;
    justify-content: center;
}

.logo-image {
    margin: 0 5px;

    .small & {
        max-height: 25px;
    }
}

.logo-textbox {
    text-align: center;

    font-size: 55px;
    font-size: rems(55);

    .small & {
        font-size: 8px;
        font-size: rems(8);
    }

    &.times {
        font-family: "Times New Roman";
    }

    &.georgia {
        font-family: "Georgia";
    }

    &.helvetica {
        font-family: "Helvetica";
    }
}

.logo-hide {
    @include transition(opacity 250ms ease);

    &.hide {
        opacity: 0;
    }
}

.logo-title,
.logo-subtitle {
    // display: flex;
    // justify-content: space-between;

    // .small & {
    //     display: block;
    // }
}

.logo-subtitle > span {
    min-width: 15px;
}
