.title-box {
    text-align: center;

    font-size: 55px;
    font-size: rems(55);
}

.title,
.subtitle {
    display: flex;
    justify-content: space-between;
}

.subtitle > span {
    min-width: 15px;
}
