.grid {
    font-size: 0;
    text-align: justify;

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}

.grid--three {
    .grid-item,
    .gap {
        display: inline-block;
        width: (100%/3);
    }

    .grid-item:nth-child(3n) {
        border-right: none;
    }

    .grid-item:nth-last-child(-n+3) {
        border-bottom: none;
    }
}

.grid--two {
    .grid-item,
    .gap {
        display: inline-block;
        width: (100%/2);
        vertical-align: top;
    }

    .grid-item:nth-child(2n) {
        border-right: none;
    }

    .grid-item:nth-last-child(-n+2) {
        border-bottom: none;
    }
}

.grid-item {
    font-size: 16px;
    font-size: rems(16);
    text-align: center;
    border-right: 1px $offwhite solid;
    border-bottom: 1px $offwhite solid;
}
