.palette {
    position: relative;
    height: 70px;
    width: 70px;
    margin: 0 auto;
    text-align: justify;
    font-size: 0;
    overflow: hidden;

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}

.six-color {
    display: inline-block;
    vertical-align: top;
    width: (100%/3);
    height: 50%;
}

.two-color {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: 49.49747468305833px solid transparent;

    &:nth-child(1) {
        @include transform(rotate(-45deg) translateY(-69px));
    }

    &:nth-child(2) {
        @include transform(rotate(-45deg) translateY(29px));
    }
}

