

  <div class="header">
    <h1>
      {{ model.name }} Licensing
    </h1>
  </div>

  <div class="get-started">
    Choose a state to get started
  </div>

  <div class="widget">
    <div class="box box--flush dropdown">
        {{jurisdiction-dropdown 
            jurisdictions=model
            selectedJurisdiction=selectedJurisdiction
            action='setJurisdiction'}}
    </div>
  </div>
