
<div class="header">
  <div>
    <h1>
      {{ model.name }} Licensing
    </h1>
  </div>
  <div class="to-jurisdiction-index">
    <p>
      {{#link-to 'jurisdiction'}}Choose a different State{{/link-to}}
    </p>
  </div>
</div>

<div class="educator-qualifications">

  <div class="educator-qualification">

    <div class="qualification-name">
      Assistant Teacher
    </div>

    <div class="qualification-desc">
      <pre>
        Must be at least 16 years of age or have a high school diploma or equivalent; must work at all times under the direct supervision of at least a teacher qualified staff person.
      </pre>
    </div>

  </div>

  <div class="educator-qualification">

    <div class="qualification-name">
      Teacher
    </div>

    <div class="qualification-desc">
      <pre>
a. Must be at least 21 years of age or have a high school diploma or equivalent and
meet one of the following sets of requirements:
i. have successfully completed three credits in category Child Growth and
Development and have nine months of work experience or one practicum; or 
ii. have a Child Development Associate (CDA) Credential; or
iii. have graduated from a two-year high school vocational program in early
childhood education, approved by the Department for both the education and
experience requirements and have been evaluated and recommended by the
program instructor.
b. The following education may substitute for a portion of the required work
experience:
i. An Associate’s or Bachelor’s degree in early childhood education or a related
field of study may substitute for six months of the required experience.
ii. A Bachelor’s degree in an unrelated field of study may substitute for three
months of the required experience.
iii. For infant-toddler teachers, one continuing education unit (ten hours of
instruction) in category Infant and Toddler Development, Care and Program
Planning may substitute for three months of work experience.
c. To be qualified as a preschool teacher, three months of the required work
experience must be in caregiving to preschool age children.
d. To be qualified as an infant/toddler teacher, three months of the required work
experience must be in caregiving to infant/toddlers.
      </pre>
    </div>

  </div>

</div>



