

<div class="header">

  <div>
    <h1>
      {{ model.name }} Educator Qualifications
    </h1>
  </div>

</div>

<div class="qualifications">

  <div class="qualification">
    <div class="qualification-name">
      Teacher
    </div>
    <div class="qualification-education-needed">
      3 credits in child development
    </div>
    <div class="qualification-work-experience-needed">
      9 months of experience
    </div>
  </div>

</div> 
