
<div class="header">
  <div>
    <h1>
      {{ model.name }} Licensing
    </h1>
  </div>
  <div class="to-jurisdiction-index">
    <p>
      {{#link-to 'jurisdiction'}}Choose a different State{{/link-to}}
    </p>
  </div>
</div>


<div class="scenario-selector">

  <div class="scenario-entry">
    {{#link-to 'jurisdiction.view' model.id }}
      Teachers
    {{/link-to}}
  </div>

  <div class="scenario-entry">
    {{#link-to 'jurisdiction.view' model.id }}
      Location
    {{/link-to}}
  </div>

  <div class="scenario-entry">
    {{#link-to 'jurisdiction.view' model.id }}
      Inspection
    {{/link-to}}
  </div>

  <div class="scenario-entry">
    {{#link-to 'jurisdiction.view' model.id }}
      Forms
    {{/link-to}}
  </div>

</div>


{{
  teacher-requirements 
  model=model
}}

{{
  num-students-by-sq-ft
  model=model
}}

