<div class="l-full">
    <section class="l-sidebar l-sidebar--highlight">
        <article class="widget">
            <label class="widget-label" for="">Enter your school name:</label>
            <input type="text">
        </article>
        <article class="widget">
            <label class="widget-label" for="">Choose a font:</label>
            <input type="text">
        </article>
        <article class="widget">
            <label class="widget-label" for="">Choose a font:</label>

        </article>
    </section>
    <main class="l-content">
    </main>
</div>
