

<div class="licensing">
  
  <div class="header">
    <h1>
      {{ model.jurisdiction.name }} Licensing
    </h1>
  </div>

  <div class="step-by-step">
    Step-by-step guide to regulatory requirements 
  </div>

</div>

{{outlet}}
